<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Summaries</title>
</head>

<body>
    <h1>Your Activity</h1>
    <table>
        <tr>
            <th>Runs</th>
            <th>Distance</th>
            <th>Pace</th>
            <th>Fastest Pace</th>
            <th>Longest distance</th>
            <th>Longest Duration</th>
        </tr>
        <tr>
            <td>{{runSummary.runsPerWeek}}</td>
            <td>{{runSummary.averageDistance}}</td>
            <td>{{runSummary.averagePacePerRun}}</td>
            <td>{{runSummary.fastestAverage}}</td>
            <td>{{runSummary.longestDistance}}</td>
            <td>{{runSummary.longestDuration}}</td>
        </tr>
    </table>
</body>

</html>