<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Athlete</title>
</head>
<body>
    <h1>Your Activity</h1>
    <table>
        <thead>
            Averages for Runs
        </thead>
        <tbody>
            <tr>
                <th>Runs per week</th>
                <th>Distance per week</th>
                <th>Distance per run</th>
                <th>Fastest average pace for a run</th>
                <th>Longest distance</th>
                <th>Longest Duration</th>
            </tr>
            <tr>
                <td>{{data.runsPerWeek}}</td>
                <td>{{data.distancePerWeek}}</td>
                <td>{{data.distancePerRun}}</td>
                <td>{{data.fastestAverageForRun}}</td>
                <td>{{data.longestDistanceForRun}}</td>
                <td>{{data.longestDurationForRun}}</td>
            </tr>
        </tbody>
    </table>
</body>
<script src="services/api.js" charset="utf-8"></script>
<script src="js/summaries-dom.js" charset="utf-8"></script>
</html>