<div class="container">
    {{#if messages.info}}
    <div class="entry">
        <p>{{messages.info}}</p>
    </div>
    {{/if}}
    <div style="height:30px;"></div>
    <table>
        <tr>
            <h5>Running Activity Summary</h5>
        </tr>
        <tr>
            <th>Average Runs Per Week</th>
            <td>{{runSummary.runsPerWeek}} runs</td>
        </tr>
        <tr>
            <th>Average Distance Per Run</th>
            <td>{{runSummary.averageDistance}} meters</td>
        </tr>
        <tr>
            <th>Average Pace Per Run</th>
            <td>{{runSummary.averagePacePerRun}} minutes per kilometer</td>
        </tr>
        <tr>
            <th>Fastest Average Pace For a Run</th>
            <td>{{runSummary.fastestAverage}} minutes per kilometer</td>
        </tr>
        <tr>
            <th>Longest Distance For a Run</th>
            <td>{{runSummary.longestDistance}} kilometers</td>
        </tr>
        <tr>
            <th>Longest Duration For a Run</th>
            <td>{{runSummary.longestDuration}} minutes</td>
        </tr>
    </table>
    <div style="height:30px;"></div>
    <table>
        <tr>
            <h5>Cycling Activity Summary</h5>
        </tr>
        <tr>
            <th>Average Rides Per Week</th>
            <td>{{rideSummary.ridesPerWeek}} rides</td>
        </tr>
        <tr>
            <th>Average Distance Per Run</th>
            <td>{{rideSummary.averageDistance}} meters</td>
        </tr>
        <tr>
            <th>Average Pace Per Run</th>
            <td>{{rideSummary.averagePacePerRide}} minutes per kilometer</td>
        </tr>
        <tr>
            <th>Fastest Average Pace For a Run</th>
            <td>{{rideSummary.fastestAverage}} minutes per kilometer</td>
        </tr>
        <tr>
            <th>Longest Distance For a Ride</th>
            <td>{{rideSummary.longestDistance}} km</td>
        </tr>
        <tr>
            <th>Longest Duration For a Run</th>
            <td>{{rideSummary.longestDuration}} minutes</td>
        </tr>
    </table>
    <div style="height:40px;"></div>
    <form action="/list_activities" method="post">
        <button type="submit" class="waves-effect waves-light btn center green col s2 offset-s5">Save Summary</button>
    </form>
    <form action="/summaries" method="get">
        <button type="submit" class="waves-effect waves-light btn center green col s2 offset-s5">Previous Summaries</button>
    </form>
</div>