<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Summaries</title>
</head>

<body>
    <h1>Your Running Activity</h1>
    <table>
        <tr>
            <th>Runs</th>
            <th>Distance</th>
            <th>Pace</th>
            <th>Fastest Pace</th>
            <th>Longest distance</th>
            <th>Longest Duration</th>
        </tr>
        <tr>
            <td id="runsPerWeek">{{runSummary.runsPerWeek}}</td>
            <td>{{runSummary.averageDistance}}</td>
            <td>{{runSummary.averagePacePerRun}}</td>
            <td>{{runSummary.fastestAverage}}</td>
            <td>{{runSummary.longestDistance}}</td>
            <td>{{runSummary.longestDuration}}</td>
        </tr>
    </table>

    <h1>Your Cycling Activity</h1>
    <table>
        <tr>
            <th>Rides</th>
            <th>Distance</th>
            <th>Pace</th>
            <th>Fastest Pace</th>
            <th>Longest distance</th>
            <th>Longest Duration</th>
        </tr>
        <tr>
            <td>{{rideSummary.ridesPerWeek}}</td>
            <td>{{rideSummary.averageDistance}}</td>
            <td>{{rideSummary.averagePacePerRide}}</td>
            <td>{{rideSummary.fastestAverage}}</td>
            <td>{{rideSummary.longestDistance}}</td>
            <td>{{rideSummary.longestDuration}}</td>
        </tr>
    </table>

    <form action="/list_activities" method="post">
        <button type="submit">Save Summary</button>
    </form>
</body>

</html>